* {
  background-color: #000000;
}

body {
  margin: 0;
}

.pillar {   /* center the text within each column */
  text-align: center;
}

.square {
  color: #ff0000;
  font-family: "courier new";
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);  /* mirrors the text */
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header {
  color: #ccffcc;
  text-shadow: 0 0 3px #00ff00, 0 0 6px #ccffcc, 0 0 12px #ffffff;
  font-weight: bold;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.io {
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00, 0 0 8px #00cc00;
}
